h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}
body, h1, h2, h3, h4, h5, h6, .button, input[type="button"], input[type="submit"], input[type="text"], input[type="password"], input[type="email"], textarea, select {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size:13px;
    line-height:30px;
}
h1 {
    font-size: 28px;
    line-height: 50px;
}

h2 {
    font-size: 22px;
    line-height: 30px;
}
h3 {
    font-size: 16px;
    line-height: 5px;
}
h4 {
    font-size: 14px;
    line-height: 30px;
}
h5 {
    font-size: 12px;
    line-height: 24px;
}
h6 {
    font-size: 10px;
    line-height: 20px;
}

h3.mp-font {
  margin-top:15px;
  margin-bottom:22px;
}
