
body {
  width: 100%;
  height: 100%;
}


/*@media screen and (max-width: 31.5em) {
.grid {
padding: 10px 10px 100px 10px;
}
.grid li {
width: 100%;
min-width: 300px;
}
}

.cs-style-3 figure img {
transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
transform: translateY(-5px);
}
.cs-style-3 figcaption {
height: 10%;
width: 90%;
top:0px;
bottom: 10px;
opacity: 0;
transform: translateY(100%);
transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
opacity: 1;
transform: translateY(0px);
transition: transform 0.0s, opacity 0.1s;
}*/

/*profile*/
.MP_profile {
  width:600px;
  margin:0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align:center;
}

.MP_profile_photo {
  height:140px;
  height:140px;
}

.outer-container {
padding-top: 1px;
/*background-color: #333;*/
/*background-color:rgba(0, 0, 0, 0.5);*/
}
/*list*/

 .search_write {
  margin-bottom: 25px;

 }

/*listOnly*/

.outer-container {
  /*margin: 0px 200px;*/
  /*position: absolute;*/
  border: 1px solid red;
  /*max-width: 1000px;*/
  /*height: 1100px;*/
  width:100%;
}
/*.list-container {
  float: left;
}*/
.list-box {
  width: 140px;
  height: 100px;
  background-color: yellow;
  margin-bottom: 10px;
}
.boxstyle1 {
  height: 170px;
  background-color: yellow;
}
.boxstyle2 {
  height: 170px;
  background-color: lightgray;
}
.boxstyle3 {
  height: 140px;
  background-color: yellow;
}
.boxstyle4 {
  height: 130px;
  background-color: lightgray;
}
.boxstyle5 {
  height: 230px;
  background-color: yellow;
}
.boxstyle6 {
  height: 110px;
  background-color: yellow;
  margin-bottom: 10px;
}

.thumb {
 max-width: 100%;
 height: auto;
 margin-top: 32px;
}
.thumb2 {
 max-width: 100%;
 height: auto;
 margin-top: 22px;
}


ul{
   list-style:none;
   }


   /*pinterest*/

   #columns{
     column-width: 350px;
     column-gap: 15px;
   }

   #columns li{
     display: inline-block;
     border : 1px solid rgba(0,0,0,0.2);
     margin: 0;
     margin-bottom: 15px;
     padding:10px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   }
