a {
  color:black;
  border-bottom: 1px solid transparent;
  -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out; /* webkit moz, ms, o는 웹 브라우저의 호환성을 위해 기술한다.*/
  -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out; /* ease-out, ease-in은 빠르고 느리게, 느리고 빠르게를 조정한다.*/
  -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
  -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
  transition: color .2s ease-out, border-bottom-color .2s ease-out;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a:hover {
  color:#fa507b;
  border-width:medium;
}

.glyphicon {
  float:right;
  line-height: 45px;
  margin-right: 20px;
}

.brand {
    width:100%;
    border:none;
    padding:9px;
    border-bottom:1px solid lightgray;
    position: relative;
}

.nav-bar {
  background-color:#fa507b;
}

.menu-bar {
  width:100%;
}

.menu-block {
  float:left;
  display:inline-block;
  text-align: center;
  width:25%;
  padding:10px;
  border-top:1px solid lightgray;
}

.ui-grid-b {
  height:60px;
}

#logo {
  margin-top:2.5%;
  margin-left:10%;
  width:35%;
}
  /*this block should go in the styles.css file*/
.ui-panel-inner {
  padding:0px; /*make the buttons flush edge to edge*/
}

.ui-controlgroup {
  margin:0; /*make the buttons flush to the top*/
}

#header {
  height:54px;
}

#bars-button {
  margin:7px;
}

.profile-menu {
}

.profile-font {
  font-size:1em;
  font-weight: 800;
}

.count {
  margin-left: 3%;
}

#navpanel {
  padding:20px;
}
