/*main.html과 관련된 css*/
#login {
  width: 80%;
  margin-left: 10%;
}

.loginmodal {
  width: 450px;
  height: 300px;
  /*margin-top: 0px;*/
  padding-top: 50px;
}

.joinmodal {
  width: 450px;
  height: 400px;
  /*margin-top: 0px;*/
  padding-top: 50px;
}


.modal-body {
  width:80%;
  position: center;
}

.glyphicon {
  size: 80px;
}



.login {
  color: black;
  position: static;
  color: DimGray;
}

.home {
  /*color: slategray;*/
  color: DimGray;
}

.join {
  color: black;
  border-right:2px solid pink;
  padding-right:25px;
  color: DimGray;
}

.about {
  font-family: sans-serif;
  text-align: center;
  padding-top: 1%;
}

.box1 {
  position: relative;
  left: 0%;
  padding-left:0px;
  background-color: yellow;
  width:300px;
  margin-left:200px;
}

.box2 {
  position: relative;
  width:50px;
  padding-top:50px;
  padding-left:150px;
  text-align:right;
  font-size:150%;
}

.youtubeWrap {
  position: relative;
  width: 100%;
  height: auto;
  /*padding-bottom: 56.25%;*/
}

.youtubeWrap iframe {
  position: relative;
  width: 100%;
  height: 100%;
}


/*mobile*/
@media (max-width: 740px) {

  .video {
    background-color: white;
  }
  .youtubeWrap iframe {
    position: relative;
    margin-left: 150px;
    width: 100%;
    height: 100%;
  }
  .video {
    margin-top: 0px;
  }

  .footer {
    text-align:center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;

  }

  .Logo {
      display: inline-block;
      margin: 0;
      padding-left: 1rem;
      min-width: 25rem;
      min-height: auto;
      max-width: 30rem;
      background-repeat: no-repeat;
      background-position: 0;
      background-size: 100% auto;
      font-family: Montserrat,AvenirNext,Open Sans,Lucida Grande,sans-serif;
      font-size: 1.5rem;
      line-height: 4rem;
  }
  .Header-button, .Header-logo {
      padding-left: 0px;
      margin-left: 0px;
  }

  .first {
    font-family: sans-serif;
    font-size: 180%;
    margin-top: 1%;
  }
  .second {
    font-family: sans-serif;
    font-size: 120%;
    margin-top: 2.5%;
  }
  .main-id {
    width: 70%;
  }
  .main-pwd {
    width: 70%;
  }
}


/*desktop*/
@media (min-width: 741px) {

  iframe {
    /*margin-left: 405px;*/
    position: absolute;
    left: 20%;
    right: 50%;
    width:970;
    height:auto;
  }


  .Logo {
      display: inline-block;
      margin: 0 auto;
      padding-left: 4.5rem;
      min-width: 25rem;
      min-height: auto;
      max-width: 30rem;
      margin-top: 1%;
      background-repeat: no-repeat;
      background-position: 0;
      background-size: 100% auto;
      font-family: Montserrat,AvenirNext,Open Sans,Lucida Grande,sans-serif;
      font-size: 1.5rem;
      line-height: 4rem;
  }
  .Header-button, .Header-logo {
      padding: .5rem;
  }
  .Header-container {
    height: 80%;
  }
  .first {
    font-family: sans-serif;
    font-size: 250%;
    margin-top: 1%;
  }
  .second {
    font-family: sans-serif;
    font-size: 150%;
    margin-top: 1.5%;
  }
}
