body {
  width: 100%;
  /*height: 100%;*/
  background-image: url(images/14.jpg);
  /*background-color: #fa507b;*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

footer {
  position: fixed;
  padding-left: 30%;
  bottom: 0;
  text-align: center;
}

.mobile_logo {
  width:8%;
  color:white;
  margin-bottom:5%;

}

.container-fluid {
  /*height: 30%;*/
}

.first {
  font-size: 200%;
}

.second {
  color: white;
  font-size:130%;
}

.menu {
  /*height: 60%;*/
}

.about {
  height: 30%;
}

.himg{
  width:50%;
  padding-top:3%;
}

#btn1 {
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
  height: 19%;
  font-size:130%;
  font-family: 'Nanum Gothic';
  color: #fa507b;
  line-height: 50px;
  text-align: center;
  background: white;
  border: solid 1px white;
  border-radius: 20px;
}

#btn2 {
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
  height: 19%;
  font-size:130%;
  font-family: 'Nanum Gothic';
  color: #fa507b;
  line-height: 50px;
  text-align: center;
  background: white;
  border: solid 1px white;
  border-radius: 20px;
}

#btn3 {
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
  height: 19%;
  font-size:130%;
  font-family: 'Nanum Gothic';
  color: white;
  line-height: 50px;
  text-align: center;
  background: default;
  border: solid 1px white;
  border-radius: 20px;
}


img .btn_logo {
  /*position: relative;*/
  float: left;
  left: 4%;
}

@media (max-width: 361px) {
  .first {
    font-size: 160%;
  }
  .second {
    font-size: 130%;
  }
  .menu {
    padding-top: 9%;
  }
  .himg {
    padding-top: 3%;
  }

}
