body {
  width: 100%;
}
 .article {
 width:8%; 
 margin-left: 5%; 
 float:right;
 }
 .picture {
 width:9%; 
 margin-left: 5%; 
 float:left;
 }
 .write {
 background: none;
    border: 0px;
    font-size: 1.3em;
    float: right;
    margin-top: 1.7%;
    margin: 1%;
    color: rgb(250, 80, 123);
 }
 input[type="text"] {
  border: none; 
  }
