html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: #222;
	background: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 50px;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}

#top {
	background: #E8117F;
	padding: 50px;
	margin-bottom: 25px;
}

H1 {
	margin:0;
	text-align:left;
	font-weight:bold;
	letter-spacing: -2px;
	font-size: 40px;
	color: white;
	line-height: 1.2em;
}

H2 {
	font-weight: bold;
	font-size: 18px;
	color: #E8117F;
}

em {
	color: white;
	padding: 2px 12px 2px 8px;
	background: #222;
	text-transform: uppercase;
}

p {
	margin-bottom: 15px;
	font-size: 14px;
	color: #222;
	line-height: 1.6em;
}

p strong {
	font-weight: bold;
}

p a {
	background: #222;
	padding: 2px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

p a.low {
	background: #aaa;
	padding: 2px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

p a.hi {
	background: #E8117F;
	padding: 2px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

p a:hover {
	background: #E8117F;
}

#content-left {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2em;
	width: 400px;
	float:left;
}
#content-right {
	width: 351px;
	position: absolute;
	margin-left: 450px;
	z-index: -1;
	text-align: left;
}
#content-right img {
	margin: 0 0 6px 0;
}
#content-right .image {
	margin-right: 6px;
}
.clear {
	clear:both;
}
.url {
	border: 1px dotted #aaa;
	padding: 25px;
	text-align:center;
	display: block;
	margin: 25px 0;
}

.url a {
	color: white;
	padding: 2px 4px;
	background: #222;
	text-decoration:none;
}

.url a:hover {
	background: #E8117F;
}

#nav {
	margin-top: 25px;
	border-top: 1px dotted #aaa;
	padding-top: 25px;
	font-size: 18px;
	color: #222;
	font-weight: bold;
}

#nav a {
	color: white;
	display: block;
	background: #aaa;
	padding: 4px 35px;
	margin: -4px 5px 0 5px;
	float: right;
	text-decoration: none;
}

#nav a:hover {
	background: #E8117F;
}

#size {
	display:none;
	position:absolute;
	height: 331px;
	width: 350px;
	border-style: none;
	background-color: white;
	z-index:9999
}

#color {
	display:none;
	position:absolute;
	height: 331px;
	width: 350px;
	border-style: none;
	background-color: white;
	z-index:9999
}

#text {
	display:none;
	position:absolute;
	height: 331px;
	width: 350px;
	border-style: none;
	background-color: white;
	z-index:9999
}

#format {
	display:none;
	position:absolute;
	height: 331px;
	width: 350px;
	border-style: none;
	background-color: white;
	z-index:9999
}

#footer {
	margin: 25px 0 25px 0;
	border-top: 1px dotted #aaa;
	padding-top: 15px;
	font-size: 10px;
	color: #aaa;
	font-weight: bold;
	text-align:center;
}

#footer a {
	color: white;
	background: #aaa;
	text-decoration: none;
	padding: 1px 3px;
}

#footer a:hover {
	background: #E8117F;
}

#ads {
	text-align: center;
	margin-top: 50px;
}

#lijit {
	text-align: center;
	width: 728px;
	margin: 0 auto;
}

#bsa {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	width: 728px;
	margin-top: 15px;
}

#tla {
	font-size: 10px;
	width: 728px;
	margin: 0 auto;
}

#tla a {
	color: white;
	background: #aaa;
	text-decoration: none;
	padding: 1px 3px;
	display: inline-block;
	width: 100px;
	float: left;
	margin-right: 50px;
}