ul{
   list-style:none;
   }

.outer-container {
  margin: 0px 50px;
  position: absolute;
  border: 1px solid red;
  max-width: 1000px;
  height: 600px;
  width:100%;
  margin: 80px;
}
.list-container {
  float: left;
}
.list-box {
  width: 140px;
  height: 100px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  background-color: lightgray;
  margin-bottom: 15px;
  cursor:pointer;
}
.boxstyle1 {
  height: 180px;
}
.boxstyle2 {
  height: 160px;
}
.boxstyle3 {
  height: 130px;
}
.aside {
  height: 490px;
  width: 180px;
  border: 1px coral solid;
  background-color: coral;
  float:left;
  margin: 15px 0px 15px 10px;
}
.boxstyle3:hover {
   /*background-image: url("images/fbIcon.png");*/
   opacity: 0.75;
}
.thumb3 {
 max-width: 100%;
 height: auto;
}
.thumb2 {
  max-width: 100%;
  height: auto;
}
/*공유하기*/
.icons {
  margin-left: 95px;
  display: none;
}
.list-box:hover .icons {
  display:block;
}
/*검색*/
input[type=text] {
    width: 20%;
    position:relative;
    margin-left: 73%;
}
button {

}
/*헤더푸터*/
.Header ul {
    padding-left: 0;
    position: fixed;

}
.login {
  color: black;
  position: static;

}
.home {
  /*color: slategray;*/
  color: black;/**/
}
.join {
  color: black;
  border-right:2px solid pink;
  padding-right:25px;
}

.Menu {
    padding: 0;
    list-style: none;
}

.footer {
  text-align:center;
  margin-top : 50%;/**/
}
.Header-button, .Header-logo {
    padding-left: 0px;
    margin-left: 0px;
}

/*img {
  position: fixed;
  padding-top:1%;
  left: 10%;
  height: 15%;
  top:0%;
  /*padding-right: 50%;
  }*/

.Logo {
    display: inline-block;
    margin: 0 auto;
    padding-left: 4.5rem;
    min-width: 25rem;
    min-height: auto;
    max-width: 30rem;
    margin-top: 1%;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100% auto;
    font-family: Montserrat,AvenirNext,Open Sans,Lucida Grande,sans-serif;
    font-size: 1.5rem;
    line-height: 4rem;
}
.Header-button, .Header-logo {
    padding: .5rem;
}
.Header-container {
  height: 80%;
}
