ul{
   list-style:none;
   }

.outer-container {
  margin: 0px 250px;
  position: absolute;
  border: 1px solid red;
  max-width: 1000px;
  height: 2000px;
  width:100%;
}
.list-container {
  float: left;
}
.list-box {
  width: 140px;
  height: 100px;
  background-color: lightgray;
  margin-bottom: 15px;
  cursor:pointer;
}
.boxstyle1 {
  height: 180px;
}
.boxstyle2 {
  height: 160px;
}
.boxstyle3 {
  height: 130px;
}
.aside {
  height: 490px;
  width: 180px;
  border: 1px coral solid;
  background-color: coral;
  float:left;
  margin: 15px 0px 15px 10px;
}
.boxstyle3:hover {
   /*background-image: url("images/fbIcon.png");*/
   opacity: 0.75;
}
.thumb3 {
 max-width: 100%;
 height: auto;
}
.icons {
  margin-left: 95px;
  display: none;
}
.list-box:hover .icons {
  display:block;
}
