 html {
  height:100%;
}

body {
  height:100%;
}

#footer{
	overflow: hidden;
	  position: inherit;
    bottom: 0px;
    background-color: #424558;
    margin-top:50px;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

#footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}
