/*main.html과 관련된 css*/
h3 {
  font-size:1em;
}

.ha {
  font-family: sans-serif;
  color:white;
  border-bottom: 1px solid transparent;
  -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out; /* webkit moz, ms, o는 웹 브라우저의 호환성을 위해 기술한다.*/
  -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out; /* ease-out, ease-in은 빠르고 느리게, 느리고 빠르게를 조정한다.*/
  -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
  -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
  transition: color .2s ease-out, border-bottom-color .2s ease-out;
}

a:hover {
  color:#fa507b;
  border-width:medium;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.himg {
  /*width: 60px;*/
  width: 180px;
}

#logo {
  margin-top: 15px;
  /*border:1px solid red;*/
  width:100%;
  /*margin-right: 300px;*/
}

#menu {
    text-align: right;
}
.hul {
  /*border: 1px solid green;*/
  /*background-color:pink;*/
  /*margin-bottom: 300px;*/
  /*margin-bottom: 15px;*/
  list-style-type:none;
  font-size:0.7em;
  margin-top:1%;
  display:inline;
  /*float:right;*/
  margin-right: 0px;
}
.hli {
  font-family: sans-serif;
  display:inline;
  /* 테두리와 메뉴 간격 벌리기. padding: 위 오른쪽 아래 왼쪽; */
  padding: 0px 5px 0px 10px;
  /* 메뉴와 테두리 사이 간격 벌리기. margin: 위 오른쪽 아래 왼쪽; */
  margin: 5px 5px 10px 0px;
  border-left: 1px solid lightgray;
  /*color:#ffffff;*/
  font-size:180%;
  position: inherit;


}
#menu ul li:first-child {
/* li의 첫번째 요소의 좌측에는 테두리 없애기 */
border-left: none;
}
a.ha {
 text-decoration:none;
}
