ul li a.home {
  text-decoration: none;
}
#login {
  width: 80%;
  margin-left: 10%;
}
.loginmodal {
  width: 450px;
  height: 40%;
  /*margin-top: 0px;*/
  padding-top: 50px;
}

.modal-body {
  height: 80%;
}

.glyphicon {
  size: 80px;
}

.hul {
    list-style:none;
    margin:0;
    padding:0;
    position: fixed;
    padding-left: 0;
    position: fixed;
    top: 1%;
    right: 10%;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
}

.hul .hli a.hover {
  text-decoration: none;
  color: pink;
}

.hli {
    margin: 35px 10px 20px 20px;
    /*padding: 0 0 0 0;*/
    border : 0;
    float: right;
    font-size: 140%;
}

.login {
  color: black;
  position: static;
  color: DimGray;
}

.home {
  /*color: slategray;*/
  color: DimGray;
}

.join {
  color: black;
  border-right:2px solid pink;
  padding-right:25px;
  color: DimGray;
}

.about {
  font-family: sans-serif;
  text-align: center;
  padding-top: 1%;
}

.a {
    float: left;
}

.box1 {
  position: relative;
  left: 0%;
  padding-left:0px;
  background-color: yellow;
  width:300px;
  margin-left:200px;
}

.box2 {
  position: relative;
  width:50px;
  padding-top:50px;
  padding-left:150px;
  text-align:right;
  font-size:150%;
}

.youtubeWrap {
  position: relative;
  width: 100%;
  /*padding-bottom: 56.25%;*/
}

.youtubeWrap iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer {
  text-align:center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;

}

.btn {
  padding: 10px;
}
/*mobile*/
@media (max-width: 740px) {
  .a {
    width: 100%;
    height: auto;
    font-size: 165%;
  }
  .video {
    background-color: white;
  }
  .youtubeWrap iframe {
    position: relative;
    margin-left: 150px;
    width: 100%;
    height: 100%;
  }
  .video {
    margin-top: 0px;
  }
  .himg {
    position: fixed;
    left: 0%;
    height: 15%;
    /*padding-right: 50%;*/
  }
  .container {
    display: inline-block
  }
  .Logo {
      display: inline-block;
      margin: 0;
      padding-left: 1rem;
      min-width: 25rem;
      min-height: auto;
      max-width: 30rem;
      background-repeat: no-repeat;
      background-position: 0;
      background-size: 100% auto;
      font-family: Montserrat,AvenirNext,Open Sans,Lucida Grande,sans-serif;
      font-size: 1.5rem;
      line-height: 4rem;
  }
  .Header-button, .Header-logo {
      padding-left: 0px;
      margin-left: 0px;
  }

  .first {
    font-size: 180%;
  }
  .second {
    font-size: 120%;
  }
}


/*desktop*/
@media (min-width: 741px) {
  .a {
    width: 100%;
    height: auto;
    font-size: 165%;
  }
  iframe {
    /*margin-left: 405px;*/
    position: absolute;
    left: 20%;
    right: 50%;
    width:970;
    height:auto;
  }
  ul {
    /*padding-right: 10%;
    padding-top: 1%;*/
    margin-top: 5px;
    position: fixed;
    top: 1%;
    right: 10%;
  }
  .himg {
    position: fixed;
    padding-top:1%;
    left: 10%;
    height: 15%;
    top:0%;
    /*padding-right: 50%;*/
  }
  .Logo {
      display: inline-block;
      margin: 0 auto;
      padding-left: 4.5rem;
      min-width: 25rem;
      min-height: auto;
      max-width: 30rem;
      margin-top: 1%;
      background-repeat: no-repeat;
      background-position: 0;
      background-size: 100% auto;
      font-family: Montserrat,AvenirNext,Open Sans,Lucida Grande,sans-serif;
      font-size: 1.5rem;
      line-height: 4rem;
  }
  .Header-button, .Header-logo {
      padding: .5rem;
  }
  .Header-container {
    height: 80%;
  }
  .container {
    height: 50%;
  }
  .first {
    font-size: 250%;
  }
  .second {
    font-size: 150%;
  }
}
/*profile*/
.MP_profile {
  width:600px;
  margin:0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align:center;
}

.MP_profile_photo {
  height:140px;
  height:140px;
}

.outer-container {
padding-top: 1px;
/*background-color: #333;*/
/*background-color:rgba(0, 0, 0, 0.5);*/
}
/*list*/

 .search_write {
  margin-bottom: 25px;

 }
 /*hover-share*/
 .icons {
   margin-left: 95px;
   display: none;
 }
 .list-box:hover .icons {
   display:block;
   cursor:pointer;
 }


/*pinterest style*/
input[type=text] {
    width: 12%;
    position:relative;
    margin-left: 70%;
    display: inline-block;
}
     #columns{
       margin-left: 130px;
       column-width:280px;
       column-gap: 15px;
       width:80%;
       height:70%;
     }
     #columns figure{
       background-color: white;
       display: inline-block;
       border:1px solid rgba(0,0,0,0.2);
       margin:0;
       margin-bottom: 15px;
       padding:10px;
       box-shadow: 2px 2px 5px rgba(0,0,0,0.5);;
     }
     #columns figure img{
       width:100%;
     }
     #columns figure figcaption{
       border-top:1px solid rgba(0,0,0,0.2);
       padding:10px;
       margin-top:11px;
     }
